.diff-viewer {
  .diff-gutter {
    color: #4c4c4c;
    text-align: center; // Better alignment for line numbers

    &.diff-gutter-omit {
      &:before {
        background-color: #1e1e2f;
      }
    }
  }

  .diff-code {
    padding: 0;
    font-family: 'Sono', monospace;
  }

  .diff-code-insert {
    background-color: #022c22;

    .diff-code-edit {
      background-color: #011f19;
    }
  }

  .diff-code-delete {
    background-color: #3f1d25;

    .diff-code-edit {
      background-color: #2c141a;
    }
  }

  .diff-gutter-insert {
    background-color: #022c22;
    width: 16px;
    min-width: 16px;
    max-width: 16px;
  }

  .diff-gutter-delete {
    background-color: #3f1d25;
  }

  ::selection {
    background-color: #333652;
    color: #f1f3f5;
  }
}
