@tailwind base;
@tailwind components;
@tailwind utilities;

.react-resizable {
  position: relative;
  background-color: theme('colors.neutral.900');
}

.react-resizable-handle {
  background-image: none !important;
  position: relative;
}

.react-resizable-handle::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-0%, -0%) rotate(45deg);
  width: 0;
  height: 0;
  border-left: 6px solid theme('colors.neutral.800');
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}


@layer base {
  html {
    font-family: "Sono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"MONO" 1;
  }
}

body {
  margin: 0;
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MONO" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
  color: #e0e0e0;
}
